<div id="container">
  <strong>{{ name }}</strong>
  <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  <product-container>
    <product-card
      name="Peanut Butter"
      description="Crunchy style - goes well on bluberry bagels"
      price="$5.00"
      img="https://via.placeholder.com/150/000000/00FFFF/?text=Peanut-Butter"
    >
    <toggle-favourite></toggle-favourite>
  </product-card>
    <product-card
      name="Peanut Butter"
      description="Crunchy style - goes well on bluberry bagels"
      price="$5.00"
      img="https://via.placeholder.com/150/000000/FF00FF/?text=Peanut-Butter"
    >
      <toggle-favourite></toggle-favourite>
    </product-card>
    <product-card
      name="Peanut Butter"
      description="Crunchy style - goes well on bluberry bagels"
      price="$5.00"
      img="https://via.placeholder.com/150/000000/FFFF00/?text=Peanut-Butter"
    >
      <toggle-favourite></toggle-favourite>
    </product-card>
    <product-card
      name="Peanut Butter"
      description="Crunchy style - goes well on bluberry bagels"
      price="$5.00"
      img="https://via.placeholder.com/150/000000/FFFFFF/?text=Peanut-Butter"
    >
      <toggle-favourite buttonColor="red"></toggle-favourite>
    </product-card>
  </product-container>
</div>